<style class="text/css">
  .roundedCard {
    border-radius: 10px;
    background-image: url('/media/lapiz.png');
    background-position: 7% 17%;
  }
</style>

<div class="card roundedCard {{colorBg}}">
  <div class="card-content white-text">
    <span class="card-title white-text">
      Curso X
    </span>
  </div>
    <div class="card-action">
      {{#link-to 'admin.cursos.detalle' class="white-text"}}Detalle{{/link-to}}
    </div>
</div>
