<style class="text/css">
  .roundedCard {
    border-radius: 10px;
    background-image: url('/media/lapicero.png');
    background-position: 50% 12%;
  }
</style>

<div class="card roundedCard {{colorBg}}">
  <div class="card-content white-text">
    {{#link-to linkTitle dynamicSegments class="card-title white-text"}}
      {{class.name}}
    {{/link-to}}
  </div>
    <div class="card-action">
      {{link-to messageButton linkButton dynamicSegments class="white-text"}}
      {{#if onDelete}}
        <a {{action 'eliminar'}}class="waves-effect waves-light btn-small red">
          <i class="material-icons left">delete</i>
          Eliminar
        </a>
      {{/if}}
    </div>
</div>
