<style class="text/css">
  .roundedCard {
    border-radius: 10px;
    background-image: url('/media/lapiz.png');
    background-position: 7% 17%;
  }
</style>

<div class="card roundedCard {{colorBg}}">
  <div class="card-content white-text">
    {{#link-to linkTitle course.id class="card-title white-text"}}
      {{course.name}}
    {{/link-to}}
  </div>
    <div class="card-action">
      {{link-to messageButton linkButton course.id class="white-text"}}
    </div>
</div>
