<h1>Nuevo hijo</h1>

<br>
Nombre
{{input value=model.nombre}}<br>

Apellido
{{input value=model.apellido}} <br>
Fecha de nacimiento
{{input value=model.fechaNacimiento}} <br>

<button {{action "guardar" model}}>Guardar</button>