Tipo de beca: {{input value= model.type}}<br>
Porcentaje: {{input value= model.percentage}}<br>
Universidad: {{input value= model.university}}<br>
<button {{action 'saveScholarchip' model}}>Guardar</button>