{{#ember-wormhole to="title"}}
Mis cursos
{{/ember-wormhole}}
<div class="sabias">
    Recientes
</div>
 <div class=" font-tlc">
        selecciona para continuar con el curso
</div>
<div class="row" style="margin-top:20px">
    <div class="col s3 course-card valign-wrapper">Curso 1</div>
    <div class="col s3 course-card valign-wrapper">Curso 2</div>
    <div class="col s3 course-card valign-wrapper">Curso 3</div>
    
</div>



<div class="row">
    <div class="col s12 h2" style="margin-top:10px">
        Todos

    </div>
    <div class="col s12" style="margin-top:10px; ">
        {{input id="search" placeholder="Buscar" class="col s8 input-tlc "}}<i class="material-icons col s2 valign-wrapper"
            style="height:44px">search</i>

    </div>

</div>
<ul class="collection" style="margin-top:20px">
    <li class="collection-item">
        <div class="row valign-wrapper">
            <div class="col s2 center-align">
                <img src="https://www.weact.org/wp-content/uploads/2016/10/Blank-profile.png" alt="" width="50px">
            </div>
            <div class="col s3">
                <span>Title</span>
            </div>
            <div class="col s5">
                Description

            </div>
            <div class="col s2">
                <a class="link-tlc">
                    clase </a>
            </div>
        </div>




    </li>


</ul>