div .nav-bar-index{
	background: linear-gradient(283.28deg, rgba(235, 87, 87, 0.8) -5.41%, rgba(255, 255, 255, 0) 97.12%), #F2C94C !important;
	height: 40px;
	box-shadow: none;
}	

div .global-header{
	background: #C4C4C4;
	opacity: 0.5;
	top: 0;
	height: 40px;
	color: #ffffff;
	box-shadow: none;
}
div .header-text{
	background: transparent;
	top: -10px;
	height: 50px;
	box-shadow: none;
	text-align: center;
	font-size: 30px;
	letter-spacing: 30px; 
}

div .header-text > p {
	margin: 0;	
	height: 50px;
}	
.navbar-fixed{
	height: unset;
}
.title-container{

	background: linear-gradient(283.28deg, rgba(235, 87, 87, 0.8) -5.41%, rgba(255, 255, 255, 0) 97.12%), #F2C94C !important;
		position:absolute;
	top: 40px;
	height: 100px;
}
.profile{
	margin-top: 20px;
	height: 120px;
	width: 120px;
}
.title{
	font-size: 40px;
	letter-spacing: 10px;
	margin-top:20px;
}
@media only screen and (max-width: $medium-screen){
	.profile{
	height: 120px;
	width: 120px;
	}
}
@media only screen and (max-width: $small-screen){
	div .header-text{

	letter-spacing: 10px; 
}

}

.divider-tlc{
	border: 1px solid #E0E0E0;
	margin-bottom: 10px;
}
.sabias{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 32px;
	color: #616161;
}
.border-bb{
	border-bottom: 10px solid #2F80ED;
}

.card-yellow{
	border-bottom: 10px solid #F2C94C;
}
.card-blue{
	border-bottom: 10px solid #2F80ED;
}
.card-red{
	border-bottom: 10px solid #EB5757;
}
	
.font-tlc{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #616161;

}
.link-tlc{
	text-decoration-line: underline;
	color: #EB5757;
}
#title{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 65px;
}
.rounded-btn{
	border-radius: 12px;
}
.input-tlc{
	background: #FFFFFF;
border: 0.25px solid #BDBDBD!important;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)!important;
padding: 0px 5px !important;
}
label{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
color: #616161;
}
p-0{
	padding-left: 0px !important;
}