
  @import "materialize/color-variables";
  @import "materialize/color-classes"; // Variables;
  @import "materialize/variables"; // Reset
  @import "materialize/normalize"; // materialize
  @import "materialize/global";
  @import "materialize/badges";
  @import "materialize/icons-material-design";
  @import "materialize/grid";
  @import "materialize/navbar";
  @import "materialize/typography";
  @import "materialize/transitions";
  @import "materialize/cards";
  @import "materialize/toast";
  @import "materialize/tabs";
  @import "materialize/tooltip";
  @import "materialize/buttons";
  @import "materialize/dropdown";
  @import "materialize/waves";
  @import "materialize/modal";
  @import "materialize/collapsible";
  @import "materialize/chips";
  @import "materialize/materialbox";
  @import "materialize/forms/forms";
  @import "materialize/table_of_contents";
  @import "materialize/sidenav";
  @import "materialize/preloader";
  @import "materialize/slider";
  @import "materialize/carousel";
  @import "materialize/tapTarget";
  @import "materialize/pulse";
  @import "materialize/datepicker";
  @import "materialize/timepicker";

  .admin{
    @import "admin";
  }

  .editor{
    @import "editor";
  }

  .padre{
    @import "padre";
  }

  .alumno{
    @import "alumno";
  }

  .profesor{
    @import "profesor";
  }
  
  .dueno{
    @import "dueno";
  }

  .main-content{
    margin-top: 165px;
  }

@import "ember-power-select";


.font-tlc{
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #616161;

}
.link-tlc{
	text-decoration-line: underline;
	color: #EB5757;
}
.input-tlc{
	background: #FFFFFF;
border: 0.25px solid #BDBDBD!important;
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2)!important;
padding: 0px 5px !important;
}
.rounded-btn{
	border-radius: 12px;
}

.login-bg{
  width: 100vw;
  height: 100vh;
}
.no-link{
  color: #616161;
}