div .nav-bar-index{

	background: linear-gradient(263.26deg, rgba(242, 201, 76, 0.7) -6.23%, rgba(255, 255, 255, 0) 100%), #2D9CDB;
	height: 40px;
	box-shadow: none;
}	

div .global-header{
	background: #C4C4C4;
	opacity: 0.5;
	top: 0;
	height: 40px;
	color: #ffffff;
	box-shadow: none;
} 

div .header-text{
	background: transparent;
	top: -10px;
	height: 40px;
	box-shadow: none;
	text-align: center;
	font-size: 30px;
	letter-spacing: 30px; 
}

div .header-text > p {
	margin: 0;
	height: 50px;
}

.navbar-fixed{
	height: unset;
}

.title-container{
	position: absolute;
	top: 40px;
	height: 100px;
	background: linear-gradient(263.26deg, rgba(242, 201, 76, 0.7) -6.23%, rgba(255, 255, 255, 0) 100%), #2D9CDB;
}

.profile{
	height:200px;
}

.title{
	font-size: 40px;
}

@media only screen and (max-width: $medium-screen){
	.profile{
		height:120px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: $small-screen){
	div .header-text{
		letter-spacing: 10px;
	}
}