<div class="row">
    <div class="col s8 sabias">
        Editar
    </div>
    <div class="col s4 right-align">
        {{link-to 'cancelar' 'alumno.dudas' class="waves-effect waves-light btn red darken-2 rounded-btn" }}
    </div>


</div>
{{forms/c-duda model=model
				onGuardar=(action 'guardar' model)
				onBorrar=(action 'borrar' model)}}

