<style>
    .primary-content{
        margin-top: -40px;
       
    }
</style>


<div class="primary-content  col s4 font-tlc">
    {{#link-to 'alumno.dudas.nueva'}}
        <img src="/alumno/nueva.svg" width="292px" height="164px" style=" margin-left: -50px;">
    {{/link-to}}
    <p>crear una {{link-to 'nueva duda' 'alumno.dudas.nueva' class="link-tlc"}}</p>
    <p>o edita una existente</p>
</div>
<div class="sabias col s12" style="margin-top:30px">
    Historial
</div>

<div class="row">
  {{#each model.doubts as |doubt index|}}
    <div class="col s4">
      {{#link-to 'alumno.dudas.editar' doubt}}
      <div class="card card-{{if (eq (mod index 3) 0) "red" (if (eq (mod index 3) 1) "yellow" "blue") }}">
       
        <div class="card-content ">
          <span class="card-title">{{doubt.text}}</span>
          <p>{{doubt.description}}</p>
        </div>
      </div>
      {{/link-to}}
    </div>
     
{{/each}}

</div>