{{outlet}}

<br><br><br><br><br><br>

<div class="row" class="padre-container">
	<div class="col s8 m7 l6" style="display: inline-block;">
		<p style="font-size: 30px">Nombre Padre</p>
	</div>
	<div class="col s1 m1 l2" style="display: inline-block; margin-left:600px;">21 de junio de 2018</div>
	<div class="col s3 m4 l5">
		<p class="balance_saldos">Saldo a pagar</p> <p class="balance_saldos_numeros">$500</p>
		<br>
		<p class="balance_saldos">Saldo por vencer</p> <p class="balance_saldos_numeros">$0</p>
		<br>
		<p class="balance_saldos">Saldo total</p> <p class="balance_saldos_numeros">$500</p>
		<a class="botones">pagar</a>
	</div>
	<div class="col s6 m6 l6" class="index_tarjeta">
		<p class="index_t_categoria" style="margin-left: 10px;">FECHA</p>
		<p class="index_t_categoria">DESCRIPCIÓN</p>
		<p class="index_t_categoria">CARGO</p>
		<p class="index_t_categoria">ABONO</p>
		<p class="index_t_categoria">SALDO</p>
		<p style="margin-left:10px; margin-top:-20px; color:#616161;">______________________________________________________________________________________________________</p>
		<p class="index_t_elemento" style="margin-left: 10px;">26/08/2018</p>
		<p class="index_t_elemento">Asesoría Damian</p>
		<p class="index_t_elemento">$500.00</p>
		<p class="index_t_elemento">$0.00</p>
		<p class="index_t_elemento">$500.00</p>
		<a class="botones" >detalle</a>
		<br>
				<p class="index_t_elemento" style="margin-left: 10px;">26/08/2018</p>
		<p class="index_t_elemento">Asesoría Damian</p>
		<p class="index_t_elemento">$500.00</p>
		<p class="index_t_elemento">$0.00</p>
		<p class="index_t_elemento">$500.00</p>
		<a class="botones" >detalle</a>
		<div style="width:900px; height:10px; background-color:#27AE60;"></div>
	</div>

</div>
  

  <script type="text/javascript">
  	 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });
  </script>
 
