{{outlet}}

<div class="row" class="padre-container_detalle">
    <p style="font-size: 30px;">Asesoría Bárbara</p>
    <p style="font-size: 16px;">Costo de $500.00</p>
    <p style="font-size: 20px;">Seleccione el tipo de moneda:</p>
    <form action="" style="font-size: 16px;">
        <input type="radio" name="" value="">$500.00 MXN<br>
        <input type="radio" name="" value="">$24.33  USD
    </form>
    <p style="font-size: 20px;">Ingrese otro método de pago</p>
    <input type="text" name="" value="" placeholder="tarjeta de crédito" style="font-size: 16px;">
    <br>
    <a class="botones">pagar</a>
</div>