<style type="text/css">
  .topDistance {
  	width:100%;
  	position: absolute;
    margin-top: 225px;
    /* height: 95vh; */
    /* overflow-y: scroll; */
  }

  .roundedButton {
  	border-radius: 10px;
  	text-align:center;
  }

  .inButtonCenter {
  	margin:auto;
  }
</style>

<div class="row topDistance">
  {{#link-to 'editor.index' class="col s1 offset-s1 roundedButton"}}
    <br>
    <img src="/media/admin-button.svg">
  {{/link-to}}

  <div class="col s8 offset-s1">
    <div class="row">
      <div class="col s2">
        <blockquote>
          <h4> Cursos </h4>
        </blockquote>
      </div>
      {{#link-to 'editor.cursos.nuevo' class="col s4 offset-s6"}}
        <div class="card-panel roundedButton indigo lighten-1">
            <h4 class="white-text inButtonCenter">Nuevo</h4>
        </div>
      {{/link-to}}
    </div>

    <div class="row">
      {{#each model as |curso|}}
        {{#unless curso.isNew}}
          <div class="col s4">
            {{course-card
              course=curso
              linkTitle='editor.cursos.clases'
              linkButton='editor.cursos.editar'
              messageButton='Editar'
              colorBg='deep-orange lighten-1'}}
          </div>
        {{/unless}}
      {{else}}
        <h5>No hay cursos registrados.</h5>
      {{/each}}
    </div>
  </div>
</div>
