<div class="alumno">
  <div class="navbar-fixed">
    <nav class="nav-bar-index">

    </nav>
  </div>
   <div class="navbar-fixed">
    <nav class="global-header">

    </nav>
  </div>
    <div class="navbar-fixed">
    <nav class="header-text">
      <p> TALENTICS </p>
    </nav>
  </div>

<nav class="title-container">
    <div class="nav-wrapper"  >
      <div class="row">
        <div class="col s5 offset-s1 m2 offset-m1">
          <img src="https://i.ytimg.com/vi/Vq8mUnxEBII/maxresdefault.jpg" alt="" class="circle responsive-img profile">
        </div>
        <div class="col s6 title">Nombre</div>
      </div>
    </div>
  </nav>
</div>
<div style="height:2000px"></div>
        







esto va a ser el index