{{outlet}}
<style type="text/css">
.topDistance {
  	width:100%;
  	position: absolute;
    margin-top: 150px;
    /* height: 95vh; */
    /* overflow-y: scroll; */
  }

  .profile{
  	border-radius: 40px;
  	width: 100px;
  	height: 100px;
  }

  tbody td{
  	font-size: 32px;
  }

  a {
  	color: #BB6BD9;
  }

  a:hover{
  	text-decoration: underline;
  	cursor: pointer;
  }
</style>
<div class="row topDistance">
	<div class="col s12 l3"></div>
	<div class="col s12 l9">
		<div class="row">
			<div class="col s12">
				<blockquote>
			      <h2>Usuarios</h2>
			    </blockquote>
			    <table>
			    	<tbody>
			    		<tr>
			    			<td><img class="profile" src="https://orig00.deviantart.net/6be3/f/2013/218/8/a/igor_png_by_lalandrea-d6gy7jt.png"></td>
			    			<td colspan="2">Igor</td>
			    			<td>Profesor</td>
			    			<td><a>Detalle</a></td>
			    			<td><a>Suspender</a></td>
			    			<td><a>Expediente</a></td>
			    			<td><a>Balance</a></td>
			    		</tr>
			    	</tbody>
			    </table>
			</div>
		</div>
	</div>
	
</div>