<div class="sabias">
    Evaluaciones faltantes
</div>
<div class="row font-tlc">
    <div class="col s4">
        <div class="card card-red">

            <div class="card-content ">
                <span class="card-title card-tlc">Card Title</span>
                <p class="duration-card right">Duración: 30 mins</p>
                <p style="margin-top:50px;">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                <a class="link-tlc right">aplicar</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card card-yellow">
            <div class="card-content ">
                <span class="card-title card-tlc">Card Title</span>
                <p class="duration-card right">Duración: 30 mins</p>
                <p style="margin-top:50px;">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                <a class="link-tlc right">aplicar</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card card-blue">
            <div class="card-content ">
                <span class="card-title card-tlc">Card Title</span>
                <p class="duration-card right">Duración: 30 mins</p>
                <p style="margin-top:50px;">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                <a class="link-tlc right">aplicar</a>
            </div>
        </div>
    </div>

</div>

<div class="sabias" style="margin-top:20px">
    Mis resultados
</div>

<div class="row">
    <ul class="collection">
        <li class="collection-item">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <strong>Fecha</strong>
                </div>
                <div class="col s4">
                    <strong>Nombre</strong>
                 

                </div>
                <div class="col s4">
                    <strong>Puntaje</strong>
                </div>
            </div>




        </li>
         <li class="collection-item">
            <div class="row valign-wrapper">
                <div class="col s4">
                    DD/MM/YYYY
                </div>
                <div class="col s4">
                    Prueba 1

                </div>
                <div class="col s4">
                    1000 pts

                </div>
            </div>




        </li>

    </ul>
</div>