<style>
#b{
  background: black;
  color: white;
}
</style>
{{#link-to  'dueno.administradores.index'}}
<button id="b"> INDEX</button>
{{/link-to}}


{{account-unit model=model guardado=(action 'onGuardado')}}