<div class="admin">
	<div class="navbar-fixed">
		<nav class="nav-bar-index">
			{{!-- add here content --}}
		</nav>
	</div>
	<div class="navbar-fixed">
		<nav class="global-header">

		</nav>
	</div>
	<div class="navbar-fixed">
		<nav class="header-text">
			<p> TALENTICS </p>
		</nav>
	</div>
	<nav class="title-container">
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s5 offset-s1 m2 offset-m1 ">
					<img class="circle profile " src="https://pbs.twimg.com/profile_images/805601190046220289/jmUDT6n1_400x400.jpg">

				</div>
				<div class="col s6 m6 title" id="title">
					

				</div>

			</div>
			{{!-- add content here --}}
		</div>
	</nav>
</div>
<div class="main-container">
{{outlet}}	

</div>

