<div class="editor">
	<div class="navbar-fixed">
    <nav class="nav-bar-index">
    
    </nav>	
   </div>
   <div class="navbar-fixed" >
   	<nav class="global-header">

   	</nav>
   </div>
	<div class="navbar-fixed">
		<nav class="header-text">
			<p> TALENTICS </p>
		</nav>
	</div>
	<nav class="title-container">
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s5 offset-s1 m2 offset-m1">
					<img src="https://res.cloudinary.com/jerrick/image/upload/f_auto,fl_progressive,q_auto,c_fit,w_680/u7wze68qspwkd1oixsmy" class="circle profile">
				</div>
				<div class="col s6 m6 title" id="title">
					
				</div>
			</div>
		</div>
	</nav>

	<div class="main-container">
		{{outlet}}
	</div>
</div>


