
<div class="font-tlc login-bg" style="margin:0; padding:4%">




	<h1 style="margin:10px">Iniciar sesión</h1>
	<form {{action 'login' on="submit"}}  class="row">
		<div class="col s8">
            <div class="row">
                <div class="col s4">
                    <label style="color: #616161; font-size:18px;">Correo</label>
                </div>
                 <div class="col s8">
                      {{input type="text" value=email class="input-tlc"}}
                 </div>
            </div>
        </div>
		<div class="col s8">
            <div class="row">
                <div class="col s4">
                    <label style="color: #616161; font-size:18px;">Contraseña</label>
                </div>
                 <div class="col s8">
                      {{input type="password" value=pswd class="input-tlc"}}
                 </div>
            </div>
        </div>
		<div class="col s8 center-align">
			<button class="waves-effect waves-light btn blue lighten-1 rounded-btn">Iniciar sesión</button>
		</div>
		
	</form>
	<h5>¿No tienes una cuenta? {{link-to 'Regístrate' 'signin' class="link-tlc"}}</h5>
</div>
