<h1>Iniciar sesión</h1>
<form {{action 'login' on="submit"}} >
	<p>Correo: {{input type="email" value=email required=true}}</p>
	<p>Contraseña: {{input type="password" value=pswd required=true}}</p>
	<button>Iniciar sesión</button>
</form>
<h5>¿No tienes una cuenta?</h5>
<button type="button" {{action 'signin'}} >Regístrate</button>
