<div class="padre">


  <div class="navbar-fixed">
    <nav class="nav-bar-index">
    
    </nav>	
   </div>
   <div class="navbar-fixed" >
   	<nav class="global-header">

   	</nav>
   </div>
   <div class="navbar-fixed">
   	<nav class="header-text">
   		<p>TALENTICS</p>
   	</nav>
   </div>
   <nav class="title-container">
   	<div class="nav-wrapper">
   		<div class="row">
   			<div class="col s5 offset-s1 m2 offset-m1"> 
   				<img class="circle profile" src="https://orig00.deviantart.net/7566/f/2016/052/0/f/baymax_by_thefluffypandagirl-d9sk8v2.jpg">
   			</div>
   			<div class="col s6 m6 title" id="title">

   			</div>
   		</div>
   	</div>
   </nav>

</div>

<div style="height: 10000px"></div>

<div class="main-cointainer" >
{{outlet}}
</div>
